extends layout

block content
   h2 Home
   .row
      .col 
         .card
            .card-body
               img(src="/images/pug_logo.png" width="100px")
               //- Declaration
               mixin article(title='Default Title')
                  .article
                     .article-wrapper
                        h3= title
                        if block
                           block
                        else
                           p Keine Inhalte!
                  hr
               //- Use
               +article('Hallo pug')
                  p.lead Node.js, MongoDB &amp; Pug
               +article()
                  p Article 1

   .row.mt-2
      - for (var i = 1; i <= 2; i++)
         .col
            .card.bg-warning
               .card-body
                  p Empty card #{i}

   .row.mt-2
      - for (var i = 1; i <= 4; i++)
         .col
            .card.bg-success
               .card-body
                  p Empty card #{i}
   
   .row.mt-2
      - for (var i = 1; i <= 8; i++)
         .col
            .card.bg-info
               .card-body
                  p.text-center Empty card #{i}
   
   .row.mt-2
      .col-md-9
         .card.bg-light
            .card-body
               p 9 columns
      .col-md-3
         .card.bg-dark.text-white
            .card-body
               p 3 columns



