extends layout

block content
   h2 Registration List
   .card.p-2
      if registrations.length
         table.listing-table.table-striped
            tr
               th Name
               th Email
            each registration in registrations
               tr
                  td= registration.name
                  td= registration.email
      else
         p No registrations yet :(