{% extends 'base.twig' %}

{% block title %}Express Home{% endblock %}

{% block body %}
<div class="jumbotron">
    <h1 class="display-3">Welcome</h1>
    <p class="lead">Express Home</p>
</div>
<div class="row mt-2">
    <div class="col">
        <div class="card">
            <div class="card-body">
            {% for i in 1..8 %}
                <div class="{{ cycle(['even', 'odd'], i) }}">
                    <p>Test {{i}}</p>
                </div>
            {% endfor %}
            </div>   
        </div>
    </div>
    <div class="col">
        <div class="card">
            <div class="card-body">
                &nbsp;
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <div class="card-body">
                &nbsp;
            </div>
        </div>
    </div>
</div>
{% endblock %}