{% extends 'layout.twig' %}

{% block body %}
<div class="card mt-3">
  <h3 class="card-header indigo text-white">{{title}}</h3>
  <div class="card-body">
    <p>Infos</p>
  </div>
</div>
{% endblock %}
