{% extends 'layout.twig' %}

{% block body %}
<div class="card">
  <h4 class="card-header danger-color white-text">OOP's ERROR</h4>
  <div class="card-body yellow lighten-3">
    <p>{{message}}</p>
    <p>{{error.status}}</p>
    <pre>{{error.stack}}</pre>
  </div>
</div>  
{% endblock %}
